# Filtering rows by column valuesÂ¶

In [1]:

import pandas as pd

In [2]:
df = pd.read_csv("data/imdb_1000.csv")

In [3]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [7]:
df.query("Genre == 'Animation,Comedy,Family'")

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
489,490,Ratatouille,"Animation,Comedy,Family",A rat who can cook makes an unusual alliance w...,Brad Bird,"Brad Garrett, Lou Romano, Patton Oswalt,Ian Holm",2007,111,8.0,504039,206.44,96.0
571,572,Enchanted,"Animation,Comedy,Family","A young maiden in a land called Andalasia, who...",Kevin Lima,"Amy Adams, Susan Sarandon, James Marsden, Patr...",2007,107,7.1,150353,127.71,75.0
715,716,Happy Feet,"Animation,Comedy,Family","Into the world of the Emperor Penguins, who fi...",George Miller,"Elijah Wood, Brittany Murphy, Hugh Jackman, Ro...",2006,108,6.5,141141,197.99,77.0
788,789,Hotel Transylvania 2,"Animation,Comedy,Family",Dracula and his friends try to bring out the m...,Genndy Tartakovsky,"Adam Sandler, Andy Samberg, Selena Gomez, Kevi...",2015,89,6.7,69157,169.69,44.0

In [9]:
df.query("Genre == 'Animation,Comedy,Family' &Rating> 7")

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
489,490,Ratatouille,"Animation,Comedy,Family",A rat who can cook makes an unusual alliance w...,Brad Bird,"Brad Garrett, Lou Romano, Patton Oswalt,Ian Holm",2007,111,8.0,504039,206.44,96.0
571,572,Enchanted,"Animation,Comedy,Family","A young maiden in a land called Andalasia, who...",Kevin Lima,"Amy Adams, Susan Sarandon, James Marsden, Patr...",2007,107,7.1,150353,127.71,75.0